.card {
    background-color: #e3e3e3;
    width: 100%;
    border-radius: 0.5rem;
    padding: 2rem;

    &-title {
        margin: 0;
    }

    &-subtitle {
        color: #666;
    }

    &-description {
        text-align: center;
        font-size: 3.5rem;
        margin: 1rem 0 2rem;
    }
}