.cards-group {
    margin: 0;
    padding: 0;

    &-item {
        margin-bottom: 1rem;
    }

    //custom slick css
    .slick-slide > div {
        margin: 0 1rem;
    }
    
    .slick-dots {
        bottom: 1rem;

        li button:before {
            font-size: 10px;
        }
    }
}