.header {
    position: sticky;
    z-index: 1;
    background: $color-purple;
    color: $color-white;
    width: 100%;
    padding: 1rem;
    top: 0;
    box-shadow: 0 -4px darken($color-purple, 15%) inset;
    font-weight: bold;
    text-transform: uppercase;
    font-size: smaller;
    margin-bottom: 1rem;
}