.header {
    position: sticky;
    z-index: 1;
    background: white;
    width: 100%;
    padding: 1rem;
    top: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    font-weight: bold;
    text-transform: uppercase;
    font-size: smaller;
    margin-bottom: 1rem;
}