.tag {
    font-size: 0.875rem;
    display: inline-block;
    background-color: $color-gray;
    color: $color-gray-2;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    margin-right: 0.4rem;
    text-transform: uppercase;
    font-weight: 800;
}