* {
    box-sizing: border-box;
}

.App {
    margin: 0 0 1.5rem 0;

    .title {
        margin-bottom: 3rem;
    }
}

@import '~slick-carousel/slick/slick.css'; 
@import '~slick-carousel/slick/slick-theme.css';

@import 'card';
@import 'cards';
@import 'header';